h1.Logo{
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5px;
    text-align: center;
    font-size: 70px;
}
h1.T1{
    margin-top: 20px;
    color: black;
    text-align: center;
    font-size: 50px;
}
h1.T2{
    color: black;
    font-size: 50px;
    text-decoration: underline;
}
p.Descri{
    text-align: center;
    margin-top: 100px;
    color: white;
}
p.Descri_02{
    text-align: center;
    margin-top: 0px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}
p.carta{
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}
p.recarta{
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 20px;
}
p.assinatura{
    text-align: right;
    margin-right: 20px;
    font-style: italic;
    text-decoration: underline;
}
p.justificado{
    text-align: justify;    
}
p.entre{
    font-size: 20px;
    font-weight: bold;
}
p.resp{
    text-align: justify;
    margin-right: 55px;
}
h1.titulo{
    font-size: 25px
}
p.subT{
    font-style: italic;
    text-decoration: underline;
    font-size: 15px;
}
h1.titulo_02{
    font-size: 45px
}
p.subT_02{
    font-style: italic;
    font-size: 25px;
    color: gray;
}
p.reportagem{
    font-size: 20px;
}
a.link{
    color: black;
    text-decoration: none;
}
a.chamativo{
    color: blue;
    text-decoration: underline;
}
.T1_Principal{
    font-size: 32px;
    margin-right: 250px;
    color: white;
    text-decoration: underline black;

}
hr.border{
    background-color: #061639;
    height: 1px;
}
h1.titulo_03{
    font-size: 25px; 
    text-align: justify;
    margin-left: 10px;
}
p.sub_03{
    font-size: 15px;
    color: gray;
    margin-left: 10px;
    text-align: justify;
}
h1.Planos{
    font-size: 30px;
    text-align: center;
}