nav.Cabecalho_01{
    width: 100%;
    height: 60px;
    background-color: #061639;
    color:#061639;
    float: left;
}
nav.Cabecalho_02{
    width: 100%;
    height: 90px;
    background-color: #2E4372;
    color: #2E4372;
    float: left;
}
a.assine{
    width: 100%;
    height: 60px;
    cursor: pointer;   
    border: none; 
    color: #061639;
    font-size: 14px;
    font-family: arial;
    font-weight: 700;  
    display: inline-block;  
    text-align: center;
    text-decoration: none;
}
.cor_01{
    background-color: #4E638E;
}
.cor_02{
    background-color: yellow;
}
.assinecor:hover{
    background-color: #7788AA;
    box-shadow: 0 5px 0 none;
}
.assinecor:active{
    background-color: whitesmoke;
    top: 10px;
    box-shadow: none;
}
.menu{
    width: 21.5%;
    background-color: #061639;
    height: 40px;
    float: left;
}
.Divisoria_01{
    width: 2%;
    height: 40px;
    background-color: black;
    float: left;
}
.Divisoria_02{
    width: 4%;
    height: 40px;
    background-color: black;
    float: left;
}
