nav.anuncioH{
    width: 500px;
    height: 150px;
    background-color: black;   
    margin: auto;
    color: black;
    margin-top: 50px;
    margin-bottom: 60px;
}
.Reportagens{
    width: 100%;
    height: 600px;
    background-color: black;
    color: black;
}
.divisioria{
    width: 2%;
    height: 200px;
    background-color: lightgray;
    float: left;
}
.Secoes{
    width: 100%;
    height: 450px;
    background-color: white;
}
.secao_01{
    width: 60%;
    height: 350px;
    background-color: #061639;
    float: left;
}
.secao_02{
    width: 17%;
    height: 350px;
    background-color: #2E4372;
    float: left;
}
.barrinha_01{
    width: 7%;
    height: 350px;
    background-color: white;
    float: left;
}
.anuncio_01{
    width: 16%;
    height: 350px;
    background-color: #2E4372;
    float: left;
}
.secao_03{
    width: 77%;
    height: 100px;
    background-color: lightgray;
    float: left;
}
.barrinha_02{
    width: 7%;
    height: 100px;
    background-color: white;
    float: left;
}
.anuncio_02{
    width: 16%;
    height: 100px;
    background-color:  #061639;
    float: left;
}
.Bloco_01{
    width: 100%;
    height: 300px;
    background-color: gray;
}
.Repor_Ima{
    width: 60%;
    height: 300px;
    background-color: #061639;
    float: left;
}
.Texto_Repor_01{
    width: 40%;
    height: 300px;
    background-color: white;
    float: left;
}
.Bloco_02{
    width: 100%;
    height: 400px;
    background-color: blue;
}
.lide{
    width: 80%;
    height: 130px;
    margin: auto;
    background-color: white;
}
.perguntas{
    width: 100%;
    height: 710px;
    background-color: #F3F781;
}
.Bloco_03{
    width: 100%;
    height: 400px;
    background-color: black;
}
.Bloco_05{
    width: 100%;
    height: 500px;
    background-color: black;
}
.Imagem_revis_02{
    width: 40%;
    height: 500px;
    background-color: #061639;
    float: left;
}
.b00{
    width: 100%;
    height: 400px;
    background-color: white;
    float: left;
}
.a01{
    width: 100%;
    height: 100px;
    float: left;
    background-color: white;
}
.texto_carta{
    width: 60%;
    height: 500px;
    background-color: white;
    float: left;
}
.textotexto{
    width: 100%;
    height: 450px;
    float: left;
    background-color: white;
}
.titulo_revis{
    width: 100%;
    height: 50px;
    background-color: #2E4372;
    float: left;
}
.Imagem_revis{
    width: 40%;
    height: 400px;
    background-color: #061639;
    float: left;
}
.texto_charge{
    width: 60%;
    height: 400px;
    background-color: aqua;
    float: left;
}
.imagem_charge{
    width: 100%;
    height: 350px;
    background-color:red;
    float: left;
}
nav.charge{
    width: 100%;
    height: 300px;
    float: left;
}
.resposta{
    width: 100%;
    height: 190px;
    background-color: lightgray;
}
.resposta_02{
    width: 100%;
    height: 350px;
    background-color: lightgray;
}
.resposta_03{
    width: 100%;
    height: 230px;
    background-color: lightgray;
}
.Bloco_04{
    width: 80%;
    height: 400px;
    margin: auto;
    background-color: #061639;
}
.texto_Report{
    width: 80%;
    margin: auto;
}
.Titulo_00{
    width: 100%;
    height: 100px;
}
.SubT{
    width: 100%;
    height: 200px;
}
.assine_Princ{
    width: 100%;
    height: 600px;
    background-color: #061639;
}
.Assine_Descri{
    width: 100%;
    height: 400px;
    background-color: gray;
}
.planos{
    width: 100%;
    height: 500px;
    background-color: gray;
}
.plano_01{
    width: 24%;
    height: 500px;
    float: left;
    background-color: #F3F781;
}
.plano_02{
    width: 23%;
    height: 500px;
    float: left;
    background-color: aqua
}
.separação{
    width: 2%;
    height: 500px;
    float: left;
    background-color: white;
}
.Vantagem_01{
    width: 100%;
    height: 200px;
    background-color: white;
}
.imagem_assine_02{
    width: 40%;
    height: 200px;
    background-color: pink;
    float: left;
}
.imagem_assine_03{
    width: 40%;
    height: 200px;
    background-color: pink;
    float: right;
}
